<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    <link rel="icon" type="image/x-icon" href="static/images/rose.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>

    <div class="menu">
        <div class="logo">
            <h1 style="margin-left:20px; color:blueviolet; margin-top:30px">NHÓM 17</h1>
        </div>
        
    </div>


    <div class="container">
      
        <form method="post" action="/image_recognition">
            <button type="submit" name="button1" value="Button 1" style="background-color:rgb(6, 12, 3); font-size: 30px; border-radius: 5px; color: white; margin-left: 40% ; margin-top: 10%;">Nhận diện chữ số viết tay</button>
            <button type="submit" name="button2" value="Button 2" style="background-color:rgb(6, 12, 3); font-size: 30px; border-radius: 5px; color: white; margin-left: 40% ; margin-top: 10%; width: 350px;">Nhận diện các loài vật  </button>
          </form>
        
    </div>

</body>
</html>